header nav:nth-of-type(3) {
    display: none;
}
header > a {
    display: block;
    margin-right: 0.5rem;
}
@media (min-width: 48rem){
    header > a {
        display: none;
    }
}
body {
    padding-top: 3rem;
}

main {
    background-color: #b5dfe7;
    max-height: calc(100vh - 3rem);
    overflow: hidden;
}
main article div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    position: relative;
    background: url("../images/droom/cloud_bg.png") no-repeat center;
}
main article div::after, main article div::before {
    content: "";
    display: block;
    width: 150%;
    height: 150%;
    background: url("../images/droom/cloud1.png") no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: -50%;
    right: -50%;
    animation: float 6s infinite alternate ease-in-out;
    opacity: 0.75;
}
@media(min-width: 48rem){
    main article div::after, main article div::before {
        opacity: 1;
    }
}
main article div::before {
    background: url("../images/droom/cloud2.png") no-repeat center;
    background-size: contain;
    top: -75%;
    bottom: auto;
    left: -75%;
    right: auto;
    animation: float 8s infinite alternate ease-in-out;
}
main article div:nth-of-type(even)::before {
    right: -60%;
    left: auto;
}
main article div:nth-of-type(even)::after {
    left: -75%;
    right: auto;
}
@media (min-width: 40rem){
    main article div::after, main article div::before {
        width: 70%;
        height: 70%;
        bottom: -25%;
        right: -25%;
    }
    main article div:nth-of-type(even)::after, main article div:nth-of-type(even)::before {
        left: -35%;
        right: auto;
    }
}

main article div:first-of-type {
    height: calc(100vh - 3rem);
}
main article div p {
    font-size: 1.5em;
    font-family: var(--font-family-bold);
    text-shadow: 0.03em 0.03em #184354;
}
main article div h2 {
    font-size: 5em;
}
@media(min-width: 40em){
    main article div h2 {
        font-size: 10em;
    }
}
main article div p, main article div h2 {
    max-width: 35rem;
    text-align: center;
    color: #fff;
}
