body>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 4rem;
    background: url("../images/link-hoang-31747.jpg") no-repeat center;
    background-size: cover;
}
body > div section {
    max-width: 72rem;
    width: 100%;
    padding: 2rem 0.5rem;
}
body > div section > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
body > div ul {
    list-style-type: none;
    padding: 0;
}
body > div section > div div {
    max-width: 20rem;
    margin: 3rem 0;
}
body > div section > div div h3 {
    color: #fff;
}
body > div section > div div:first-of-type a {
    display: block;
    padding: 1rem;
    padding-left: 1rem;
    background-color: var(--color-main);
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-family: var(--font-family-bold);
    font-size: 1.25rem;
}
body > div section > div div:first-of-type a:nth-of-type(2) {
    background-color: var(--color-secondary);
    padding: 1rem 2.25rem 3rem 1rem;
}
body > div section > div div:first-of-type a:nth-of-type(3) {
    border-radius: 6.25rem;
}
body > div section > div div:nth-of-type(2){
    background-color: rgba(255,255,255,.9);
    border-radius: 0.75rem;
    padding: 1.25rem 2rem 5.75rem;
    position: relative;
    align-self: center;
}
body > div section > div div:nth-of-type(2)::before, body > div section > div div:nth-of-type(2)::after {
    content: "";
    width: 100%;
    height: 4rem;
    display: block;
    background: #fff;
    position: absolute;
    top: 0; left: 0;
    border-radius: 0.75rem 0.75rem 0 0;
}
body > div section > div div:nth-of-type(2)::after {
    top: auto; bottom: 0;
    transform: rotate(180deg);
}
body > div section > div div:nth-of-type(2) h3 {
    color: var(--color-main);
    position: relative;
    z-index: 2;
    margin-bottom: 2.5rem;
}
body > div section > div div:nth-of-type(2) a {
    display: block;
    margin: 1.25rem 0;
}
body > div section > div div:nth-of-type(2) a:last-of-type {
    margin-bottom: 0;
}
body > div section h2 {
    width: 100%;
    padding: 0;
    color: #fff;
    font-size: 2rem;
    line-height: 2.275rem;

}
@media(min-width: 30rem){
    body > div section {
        padding: 6rem 2rem;
    }
    body > div section h2 {
        font-size: 3.375rem;
        line-height: 3.875rem;
    }
    body > div section > div div {
        margin: 0;
        margin-right: 1rem;
    }
    body > div section > div div:nth-of-type(2){
        margin-left: 1rem;
    }
    body > div section > div {
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 52rem) {
    body>div section {
        padding: 10rem 4rem 8rem;
    }
    body>div {
        flex-direction: row;
        min-height: calc(70vh + 2.75rem);
    }
    body > div section > div div:nth-of-type(2){
        align-self: baseline;
    }
}

body>div::after {
    content: "";
    display: block;
    width: 100%;
    height: 2.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center bottom;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%204096%2044%22%20width%3D%224096%22%20height%3D%2244%22%3E%3Cpath%20fill%3D%22%23f3e5d8%22%20d%3D%22M2137%2C0l-76%2C39c-3.653%2C2.164-8.445%2C4-13%2C4s-9.347-1.836-13-4l-76-39H0v45h4096V0H2137z%22%2F%3E%3Cpath%20fill%3D%22transparent%22%20d%3D%22M2137%2C0l-76%2C39c-3.653%2C2.164-8.445%2C4-13%2C4s-9.347-1.836-13-4l-76-39H2137z%22%2F%3E%3C%2Fsvg%3E");
}



main section > div {
    max-width: 42rem;

    margin: 0 auto;
    padding: 4rem 0.5rem 6rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: stretch;
}

main > section + div {
    content: "";
    display: block;
    height: 30rem;
    width: 100%;
    background: url("https://unsplash.it/1280/800") no-repeat center;
    background-size: cover;
}
@media (min-width: 40rem){
    main section > div {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 52rem) {
    main section > div {
        max-width: 72rem;
        padding: 4rem 4rem 6rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 1.5rem;
    }
    main section>div > div {
        grid-column: span 2;
        padding: 0;
    }
}
@media (min-width: 77rem) {
    main section > div{
        padding: 4rem 0 6rem;
        grid-template-columns: repeat(3, 1fr);
    }
    main section>div>div {
        grid-column: span 3;
    }
}
main section>div>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



main > section:first-of-type, main > section:last-of-type {
    background-color: #f3e5d8;
}
main > section:first-of-type h2, main > section:last-of-type h2 {
    color: var(--color-secondary);
}

main section h2 {
    margin-bottom: 0;
}

@media (min-width: 52rem) {
    main section h2 {
        padding-left: 0;
    }
}

main section form {
    margin: 0;
}

main section form fieldset legend {
    margin: 0;
    padding: 0;
    max-height: 0;
    color: transparent;
}

main section form fieldset label {
    /* Hide content from vision but accesible for screenreader, src: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/*/
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

body>footer {
    background-color: #f7f7f7;
    color: #909090;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1.5rem;
}

body>footer * {
    color: inherit;
}

form {
    max-width: 30rem;
    margin-bottom: 3rem;
}

form fieldset {
    outline: none;
    border: none;
    appearance: none;
}

form fieldset legend {
    display: block;
    color: var(--color-secondary);
    font-family: var(--font-family-bold);
    font-size: 1.25em;
    padding-bottom: 1rem;
}

form label {
    display: block;
    color: var(--color-main-text);
    font-family: var(--font-family-bold);
    margin-bottom: 0.3rem;
    font-size: 1em;
}
