body>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 4rem;
    background: url("../images/link-hoang-31747.jpg") no-repeat center;
    background-size: cover;
}

@media (min-width: 52rem) {
    body>div {
        flex-direction: row;
        min-height: calc(70vh + 2.75rem);
    }
}

body>div::after {
    content: "";
    display: block;
    width: 100%;
    height: 2.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center bottom;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%204096%2044%22%20width%3D%224096%22%20height%3D%2244%22%3E%3Cpath%20fill%3D%22%23f3e5d8%22%20d%3D%22M2137%2C0l-76%2C39c-3.653%2C2.164-8.445%2C4-13%2C4s-9.347-1.836-13-4l-76-39H0v45h4096V0H2137z%22%2F%3E%3Cpath%20fill%3D%22transparent%22%20d%3D%22M2137%2C0l-76%2C39c-3.653%2C2.164-8.445%2C4-13%2C4s-9.347-1.836-13-4l-76-39H2137z%22%2F%3E%3C%2Fsvg%3E");
}

body>div section {
    border-radius: 0.75rem;
    width: 40%;
    margin: 2rem;
    max-width: 25rem;
    background-color: var(--color-main);
}

body>div section:nth-of-type(2) {
    background-color: var(--color-secondary);
}

@media (max-width: 52rem) {
    body>div section {
        width: 80%;
    }
}



body>div h2 {
    padding: 1rem;
    display: block;
    color: #fff;
    font-size: 1.5rem;
    white-space: nowrap;
    border-radius: 0.75rem 0.75rem 0 0;
}

main section > div {
    max-width: 42rem;

    margin: 0 auto;
    padding: 4rem 0.5rem 6rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: stretch;
}

main > section + div {
    content: "";
    display: block;
    height: 20rem;
    width: 100%;
    background: url("https://unsplash.it/1280/800") no-repeat center;
    background-size: cover;
}
@media (min-width: 40rem){
    main section > div {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 52rem) {
    main section > div {
        max-width: 72rem;
        padding: 4rem 4rem 6rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 1.5rem;
    }
    main section>div > div {
        grid-column: span 2;
        padding: 0;
    }
}
@media (min-width: 77rem) {
    main section > div{
        padding: 4rem 0 6rem;
        grid-template-columns: repeat(3, 1fr);
    }
    main section>div>div {
        grid-column: span 3;
    }
}
main section>div>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



main > section:first-of-type, main > section:last-of-type {
    background-color: #f3e5d8;
}
main > section:first-of-type h2, main > section:last-of-type h2 {
    color: var(--color-secondary);
}

main section h2 {
    margin-bottom: 0;
}

@media (min-width: 52rem) {
    main section h2 {
        padding-left: 0;
    }
}

main section form {
    margin: 0;
}

main section form fieldset legend {
    margin: 0;
    padding: 0;
    max-height: 0;
    color: transparent;
}

main section form fieldset label {
    /* Hide content from vision but accesible for screenreader, src: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/*/
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}


main section article {
    max-width: 23rem;
    justify-self: center;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    margin: 2rem 0;
}

main section:first-of-type article {
    background-color: transparent;
    border-color: transparent;
}

main section article img {
    width: 100%;
    border-radius: 0.75rem;
}
@media(min-width: 48rem){
    main section article {
        min-width: 23rem;
        max-width: 100%;
        margin: 0;
    }
}
/*main section article footer, main section article p, main section article h3, main section article a {
    padding: 0 1.5rem;
}*/

main section article p {
    margin-bottom: 1rem;
    color: #606060;
}
main section article h3 {
    margin-bottom: .25rem;
    font-size: 1.25rem;
    color: var(--color-main);
    line-height: 1.625rem;
    font-weight: bold;
}

main section article ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

main section article ul li {
    padding: 1rem 0;
    min-width: 2.5rem;
}

main section article a {
    margin: 0;
    margin-top: auto;
    padding: .4375em 1.5em .5625em;
    position: relative;
    border: 0;
    font-family: var(--font-family-bold);
    line-height: 1.5;
    cursor: pointer;
    display: table;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background-color .2s linear;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
    background-color: var(--color-secondary);
    color: #fff;
    box-shadow: inset 0 -0.1875em 0.0625em #120145;
}

main section article a:hover, main section article a:active {
    background-color: #5e40b8;
}

main section article a:visited {
    color: #fff;
}


body>footer {
    background-color: #f7f7f7;
    color: #909090;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1.5rem;
}

body>footer * {
    color: inherit;
}

form {
    max-width: 30rem;
    margin-bottom: 3rem;
}

form fieldset {
    outline: none;
    border: none;
    appearance: none;
}

form fieldset legend {
    display: block;
    color: var(--color-secondary);
    font-family: var(--font-family-bold);
    font-size: 1.25em;
    padding-bottom: 1rem;
}

form label {
    display: block;
    color: var(--color-main-text);
    font-family: var(--font-family-bold);
    margin-bottom: 0.3rem;
    font-size: 1em;
}
