html {
    box-sizing: border-box;
    --color-main: #00d66c;
    --color-secondary: #2800a0;
    --color-accent: #ff3268;
    --color-main-text: #202020;
    --font-family-light: "NexaLight";
    --font-family-bold: "NexaBold";
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>section {
    max-width: 90rem;
    margin: 0 auto;
}

hr {
    border: 0;
    height: 0.0625rem;
    background-color: #e6e6e6;
}

@font-face {
    font-family: "NexaBold";
    src: url("../fonts/NexaBold.otf") format("opentype");
}

@font-face {
    font-family: "NexaLight";
    src: url("../fonts/NexaLight.otf") format("opentype");
}

body {
    font-family: var(--font-family-light);
    font-size: 1em;
    color: var(--color-main-text);
    padding-top: 5.75rem;
}
@media(min-width: 48rem){
    body {
        padding-top: 3rem;
    }
}

a {
    text-decoration: none;
    color: var(--color-secondary);
    transition: all 0.1s;
    outline: none;
}

a:hover, a:focus {
    color: var(--color-accent);
}

* {
    font-family: inherit;
    font-size: inherit;
}

h1, h2, h3 {
    font-family: var(--font-family-bold);
}

h2 {
    font-size: 3em;
    color: var(--color-main);
    line-height: 1.5em;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25em;
    color: var(--color-secondary);
    line-height: 1.625em;
    margin-bottom: 0.5rem;
}

h4 {
    font-family: var(--font-family-light);
    font-size: 1em;
    color: var(--color-main-text);
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

header {
    background-color: #fff;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 3;
    padding: 0.6rem;
    padding-bottom: 0;
    margin: 0 auto;
    display: flex;

    align-content: center;
    min-height: 3rem;
    flex-wrap: wrap;
}

@media (min-width: 48rem) {
    header {
        flex-direction: row;
        height: 3rem;
        flex-wrap: nowrap;
        padding-bottom: 0.6rem;
    }
    header nav a {
        white-space: nowrap;
    }
}

header form {
    flex-grow: 1;
    position: relative;
    margin-bottom: 0;
}

header form label {
    /* Hide content from vision but accesible for screenreader, src: https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/*/
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

header form fieldset {
    padding: 0;
}
header form input {
    border-radius: 0.5rem;
}

header form fieldset legend {
    padding: 0;
    margin: 0;
    color: transparent;
    max-height: 0;
}

header form label+input {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
    transition: all 250ms;
}

header form label+input:focus {
    width: 20rem;
}

header h1 {
    font-size: 1.25rem;
    color: var(--color-main);
    display: table;
    line-height: 2.875rem;
    margin-right: auto;
}
@media(min-width: 48rem){
    header h1 {
        line-height: 1.8rem;
    }
}

header h1:hover {
    color: var(--color-secondary);
}

header nav ul {
    list-style-type: none;
    display: flex;
}
header nav ul img {
    border-radius: 50%;
    width: 2.5rem;
}

header nav ul li {
    margin: 0 0.5rem;
}

header nav ul li a {
    font-size: 1.25rem;
    font-family: var(--font-family-bold);
    color: var(--color-main);
}

header nav ul li a:hover {
    color: var(--color-secondary);
}
header nav:nth-of-type(2){
    width: auto;
}
header nav:nth-of-type(3){
    width: 100%;
}
header nav:nth-of-type(3) ul {
    align-items: center;
}
header nav:nth-of-type(3) ul  li{
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    border-bottom: 0.25rem solid #fff;
}
header nav:nth-of-type(3) ul li.active {
    border-bottom: 0.25rem solid var(--color-main);
}
header nav:nth-of-type(3) a {
    font-size: 1rem;
}
@media(min-width: 35rem){
    header nav:nth-of-type(3) a {
        font-size: 1.25rem;
    }
}
header nav:first-of-type {
    display: none;
}
@media(min-width: 48rem){
    header nav:first-of-type {
        display: block;
    }
    header nav:nth-of-type(2){
        display: none;
    }
    header nav:nth-of-type(3){
        display: none;
    }
}

body {
    background-color: #fff;
}


/* Animations */
@keyframes float {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10%);
    }
}
@keyframes float2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);
    }
}



form input, form select {
    display: block;
    border: 1px solid #91a3b7;
    background-color: #fff;
    padding: 0.6rem;
    outline: none;
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
}

form label+input {
    margin-bottom: 1.25rem;
}

form input:focus, form select:focus {
    border: 1px solid var(--color-secondary);
}

form select {
    cursor: pointer;
}

form input[type="submit"] {
    border: 0;
    width: auto;
    margin: 0 auto;
    padding: 0.4375em 1.5em 0.5625em;
    font-family: var(--font-family-bold);
    background-color: var(--color-accent);
    color: white;
    border-radius: 1.25em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    cursor: pointer;
}

form input[type="submit"]:hover, form input[type="submit"]:focus {
    background-color: #ff658e;
}

form+a {
    display: block;
    max-width: 30rem;
    text-align: center;
}

main > button {
    appearance: none;
    border: 0;
    background: 0;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    content: " ";
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.2);
    z-index: 3;
    background: url("../images/transavia_plus.svg") no-repeat center #fff;
    background-size: 75%;
    transition: transform 0.25s;

}
main > button + section {
    display: none;
    position: fixed;
    bottom: 3.5rem;
    right: 2.25rem;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.75rem;
    z-index: 3;
    max-width: 0;
    max-height: 0;
    padding: 0 2rem;
}
main > section.active + div:first-of-type {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;bottom: 0;left: 0; right: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 2;
    transition: background-color 0.4s;
}
main > button + section button {
    appearance: none;
    padding: 1rem 3.5rem 1rem 0rem;
    background: 0;
    border: 0;
    margin: 0.5rem 0;
    text-align: left;
    background: url("../images/transavia_like_off.svg") no-repeat right;
    background-size: 25%;
}
main > button + section button.active {
    background-image: url("../images/transavia_like_on.svg");
}
main > button + section button:nth-of-type(2){
    background-image: url("../images/transavia_saved_off.svg");
}
main > button + section button:nth-of-type(2).active {
    background-image: url("../images/transavia_saved_on.svg");
}
main > button + section button:nth-of-type(3){
    background-image: url("../images/transavia_download.svg");
}
main > button + section button:nth-of-type(3).active{
    background-image: url("../images/transavia_check.svg");
}
main > button + section.active {
    display: flex;
}

main> button ~ div:nth-of-type(2){
    position: fixed;
    height: 6rem;
    bottom: calc(50% - 3rem);
    left: calc(50% - 7.5rem);
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.75rem;
    z-index: 3;
    width: 15rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10%);
    transition: all 0.25s;
    padding: 1rem 3rem;
}
main> button ~ div:nth-of-type(2).active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
